.menu {
  position: absolute;
  z-index: 10;
  top: 110%;
  right: 0;
  background-color: #364A63;
  width: 350px;
  padding: 20px;
}

.options {
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

.priceline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.price {
  color: #BEEB14;
}