.session {
  margin: 70px 0;
}

.salecontainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.gamecontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media(max-width: 885px) {
  .salecontainer {
    justify-content: center;
  }
}