.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100px;
  padding: 0 60px;
  background-color: #171A21;
}

.search {
  width: 40%;
  min-width: 400px;
  max-width: 100px;
  margin-right: 50px;
}